body {
    margin: 0;
}

li {
    list-style-type: none;
}

section {
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 0;
}

h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    border-radius: 8px;
}

article {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#new {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#section1 {
    display: flex;
    flex-direction: row;
    text-align: start;
}

#section2 {
    background-color: lightgray;
}


#wok {
    display: flex;
    flex-direction: row-reverse;
}



